<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>login</title>

    <!-- Bootstrap -->
    <link href="bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <style>
        body{background-color: #333;}
        .left{background-image: url('./img/login.jpg'); height: 800px; text-align: center;}
        .left h1{margin-top: 290px; font-size: 60px;color:white;}
        #login{width: 400px;text-align: center;padding-top: 200px;  color: white;}
        #login h3{font-weight: bold;font-size: 30px;}
    </style>
  </head>
  <body>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 left">
            <h1>网吧管理系统</h1>
        </div>

        <div id="login" class="col-md-6">
            <h3>欢迎登录本系统</h3><br>
            <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="username" class="col-md-3 control-label">username</label>
                        <div class="col-md-9">
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">password</label>
                        <div class="col-md-9">
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                    </div>

                    <label class="radio-inline" style="font-size: 20px;">
                        <input type="radio" name="flag" id="inlineRadio1" value="1" checked> 管理员
                    </label>
                    <label class="radio-inline" style="font-size: 20px;">
                        <input type="radio" name="flag" id="inlineRadio2" value="2"style="line-height: 40px;"> 会员
                    </label>

                    <br><br>
                    <div class="btn-group center-block" >
                        <input type="submit" name="login" value="login" id="sub" class="btn btn-success" style="width: 100%; margin: 0 auto;">
                    </div>
             </form>
        </div>


    </div>
    </div>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/jquery-3.4.1.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script>
    // 提示
        $('#sub').click(function() {
            var username = $('#username').val();
            var password = $('#password').val();
            var flag = $("input[type=radio]:checked").val();
            if (username == '' || password == '') {
                alert('请输入完整的用户名或密码！');
            }else{
                 $.ajax({
                    url:'/login',
                    data:{
                        name:username,
                        password:password,
                        flag:flag
                    },
                    dataType:'json',
                    success(result,status):function(){
                        console.log(result);
                    }
                 });
            }
        });
    </script>
  </body>
</html>